<h1> Category </h1>
<table>
  <thead>
    <tr>
        <td><b>Category</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @category.name %></td>
    </tr>
  </tbody>
</table>
<a href="/categories">Back</a>